<%- include("partials/header.ejs") %>

<div class="home px-4 py-5 pt-0 text-center">
  <div class="overlay-container">
    <img class="logo-smear" src="images/smear2.png" alt="">
    <div class="logo-home">
      <p class="logo">PonderPages</p>
      <img class="bi me-2 filter-white" width="40" height="32" role="img" aria-label="Bootstrap" src="images/pen.svg">
    </div>
  </div>
  <div class="typewriter">
    <h1 id="h1-main" class="display-5 fw-bold text-body-emphasis">Hello, my friend =)</h1>
  </div>
  <div class="col-lg-6 mx-auto">
    <p class="home lead mb-4">
      Welcome to <i><b>PonderPages</b></i> - Your Ultimate Companion in Expression! Unleash your thoughts, share your stories, and capture your emotions on our user-friendly blogging platform. Designed to be your <i><b>best friend</b></i> in the digital space, <i><b>PonderPages</b></i> offers a sanctuary for your musings, a canvas for your creativity, and a home for your narratives. Whether you're a seasoned writer or just want to jot down your feelings, our platform is here to accompany you on your journey of self-discovery. Join a community that <i><b>values</b></i> your voice and cherishes your stories. Explore the depths of personal expression with <i><b>PonderPages</b></i> - where <i><b>EVERY</b></i> word finds its sanctuary, and <i><b>EVERY</b></i> writer discovers a loyal friend in our platform.</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center home-buttons">
      <a href="/new-page"><button type="button" class="btn btn-primary btn-lg px-5 gap-3">New Page</button></a>
      <a href="/my-pages"><button type="button" class="btn btn-outline-secondary btn-lg px-5">My Pages</button></a>
    </div>
  </div>
</div>

<%- include("partials/footer.ejs") %>